.Account-container {
  font-size: 18px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #ffffff21;
    padding: 1rem;
    border: 3px solid white;
  line-height: 4.5rem;
    font-weight: bold;


}

.Saldo {


}

.Current-bet {


}

.Confirmed {

  cursor: pointer;
}
