.Account-container {
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #195d1e;
  padding: 0rem;
  line-height: 4.5rem;
  font-weight: bold;
}

.MuiButton-root {
  color: rgba(255, 255, 255, 0.87) !important;
}

.active {
  background-color: #8f0000 !important;
}

.Saldo {
  line-height: 22px;
}

.Current-bet {
  line-height: 22px;
}

.Confirmed {
  cursor: pointer;
  background-color: #8EB891;
}
