.Account-container {
    z-index: 999999999;
    
    font-size: 18px;
    margin-left: -20rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: #195d1e; */
    padding: 0rem;
    line-height: 4.5rem;
    position: fixed;
    top: 0;
    font-weight: bold;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}


.MuiButton-root {
  color: rgba(255, 255, 255, 0.87) !important;
}

.active {
  background-color: #ff6035 !important;
}

.Disabled {
  background-color: rgb(12, 4, 30)!important;
}

.Account {
  margin-left: 7rem;
  margin-top: .5rem;
  
  line-height: 1.7rem;
  display: flex;
  flex-wrap: nowrap;
}

.Inner-Account {
  margin: 0 .9rem 0 0;
  line-height: 1.7rem;
  width: 10rem;
}
.Inner-Account-title {
 color: #ff6035!important;
    font-size: 12px;
}

.Confirmed {
  cursor: pointer;
  background-color: #8EB891;
}

.Form-group {
  /*margin: .7rem;*/
}
