.Table-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
 background: linear-gradient(to right, rgba(12, 4, 30, 0.83), rgba(56, 25, 128, 0.88));
  width: 90vw;
  min-width: 1180px;
  height: 60vh;
  min-height: 360px;
  padding: 3rem;
  border-radius: 10px;
  margin: auto;
  margin-top: 2vh;
}

.table-section{
  margin-top: 8vh;
  width: 100vw;
  height: 80vh;
  background: url("../../assets/images/BGCASINO.jpg");
  background-color: #300;
  /* background-size: 100px 100px; */
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-top: 1rem;
}

.Table-wheel {
    width: 20vw;
    min-width: 350px;
    margin: auto;
    display: block;
    padding: 1rem;
}

.Table-fields {
  width: 50vw;
  min-width: 500px;
}

@media all and (min-width: 500px) {
  .Table-fields {
    flex: 2;
  }

  .Table-wheel {
    order: 1;
  }

  .Table-fields {
    order: 2;
  }
}

