.Token {
  max-height: 50px;
  margin: 20px 20px 0 0;
}

.Selected {
  box-shadow: #0071df 0 0 20px 0px;

    border-radius: 50%;
    transition: all 0.2s;
}

.Token-container {
	width: 5rem;
    float: right;
    margin: auto;
    display: block;
}