.Token {
  max-height: 2rem;
  margin: 0.3rem;
}

.Token:hover {
  cursor: pointer;
  box-shadow: #0e052459 0 0 8px 6px;
  border-radius: 50%;

}

.Selected {
  box-shadow: #0e052459 0 0 8px 6px;
  border-radius: 50%;
  opacity: 1 !important;

}

.Token-container {
 margin-top: 1rem;
  margin: auto;
  display: block;
  margin-left: 0.5em;
  vertical-align: top;
}

.Token-div {
  background: url(../../assets/images/chip.png);
  margin-top: 1rem;
  vertical-align: top;
  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
  /*margin: auto;*/
  width: 40px;
  height: 40px;
  /* margin: 1px 1px 6px 1px; */
  opacity: 0.60;
  font-size: 8px !important;
  line-height: 40px !important;
  background-size: 40px 40px !important;
  margin-bottom: .4em;
  margin-left: .4em;

}

.Token-div:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: #0e052459 0 0 8px 6px;
  border-radius: 50%;
  transition: all 0.2s;
}

.Token-number {
  line-height: 40px;
  position: relative;
  color: black;
  text-align: center;
  /* margin-left: -0.55rem; */
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  /* margin-top: -1rem;*/
}
