.numberscontainer{
	width: 84%;
	height: 2rem;
	display: flex;
	align-items: first;
	position: relative;
	margin-top: 0.5rem;
}

.singlenumber {
	font-size: 16px;
	background-color: black;

	margin: 0.5rem;
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	border-radius: 5px;
}

.singlenumber:hover {
	cursor: zoom-in;
	-moz-box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
	-webkit-box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
	box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
}

.red {
	background-color: red;
}
.black {
	background-color: black;
}
.green {
	background-color: green;
}
.live {
	color: black;
	background-color: greenyellow;
}
.hoverLive {
	cursor: zoom-in;
	-moz-box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
	-webkit-box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
	box-shadow: inset 0 0 5px #FFF, inset 0 0 5px #FFF;
}
