.Transactions-container {
  margin-top: 4rem;
  width: 100%;
}

.Tab-container {
  min-height: 50vh;
  overflow-y: scroll !important;
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, rgb(12, 4, 30), rgb(56, 25, 128));
}
